@use '../../styles/variables' as *;
/* Page Two uses only global classes: .container, .page, .stack, .row */


.stack1 {
  display: grid;
  gap: 0.75rem;
  min-height: 50px;
  padding-bottom: 50px;
}

.stack2 {
  gap: 0.5rem;
}


